@use "../global" as global;

// pcの時非表示
.u-hidden-pc {
  @include global.mq(md) {
    display: none;
  }
}
// lgの時非表示
.u-hidden-lg {
  @include global.mq(lg) {
    display: none;
  }
}

// smサイズになると非表示
.u-hidden-sm {
  display: block;

  @include global.mq(sm) {
    display: none;
  }
}

// スマホの時非表示,mdの時表示
.u-hidden-sp {
  display: none;

  @include global.mq(md) {
    display: block;
  }
}

// スマホの時非表示,lgの時表示
.u-hidden-sp-lg {
  display: none;

  @include global.mq(lg) {
    display: block;
  }
}

// 非表示
.u-hidden {
  display: none;
}
