//色
$main-color: #1391e6;
$sub-color-01: #0060a0;
$accent-color-01: #0060a0;
$black: #393939;
$white: #ffffff;

// フォントファミリー
$ff-base: "M PLUS Rounded 1c", sans-serif;
$ff-en: "M PLUS Rounded 1c", sans-serif;

// フォント
$fz-base: 1rem; // ベースフォントサイズ 16px
$fw-base: 400; // ベースフォントウェイト
$fw-medium: 500; //ミディアムフォントウェイト
$fw-semibold: 600; //セミボールドフォントウェイト
$fw-bold: 700; //ボールドフォントウェイト
$lh-base: normal; // ベース行間

// rem計算
@function rem($font-size-px) {
  @return calc($font-size-px / 16 * 1rem);
}

// レイアウト
$sp-contents-width: 335px;
$pc-contents-width: 1000px;

// transitionの定義
$transition-default: all 0.3s ease;

// 重なり順の定義
$z-indexes: (
  header: 30,
  drawer: 20,
);

@function z-index($key) {
  @return map-get($z-indexes, $key);
}
