@use "../global" as global;

.l-inner {
  width: calc(100% - 16px * 2); //16pxはpaddingの値
  margin-inline: auto;

  @include global.mq(lg) {
    width: calc(100% - 140px * 2); //130pxはpaddingの値
    max-width: 1232px; //コンテンツの最大幅
  }
}
