@use "../global" as global;

.c-btn {
  inline-size: 100%;
  display: inline-block;
  padding-block: 1em;
  padding-inline: 1em;
  align-items: center;
  border: 2px solid;
  border-radius: 70px;
  text-align: center;
  transition: all 0.3s ease;

  @media (any-hover: hover) {
    &:hover {
      background-color: #393939;
      color: #fff;
    }
  }
}

//矢印ありボタン
.c-btn--primary {
  --arrow-size: 10px;

  position: relative;

  // 三角矢印アイコン
  &:after {
    position: absolute;
    content: "";
    top: 50%;
    right: 0.8em;
    display: inline-block;
    width: var(--arrow-size);
    height: var(--arrow-size);
    border-right: 2px solid;
    border-bottom: 2px solid;
    transform: translateY(-50%);
    rotate: (-45deg);
    transition: all 0.3s ease;
  }

  @media (any-hover: hover) {
    &:hover,
    &:focus {
      background-color: #393939;
      color: #fff;

      &:after {
        border-color: #fff;
        right: 0.7em;
      }
    }
  }
}
